{% extends "base.html" %}

{% block header2 %}
  <h1>{% block title %}Submit a message!{% endblock %}</h1>
{% endblock %}

{% block submission %}
  <form method="post">
      <label for="message">Message: </label>
      <input type="text" name="message" id="message">
      <br>
      <label for="handle">Name or handle: </label>
      <input type="text" name="handle" id="handle">
      <br>
      <input type="submit" value="Submit Message">
  </form>
{% endblock %}

{% if submit %}
    {% block thanks %}
        <p>Thank you for your submission!</p>
    {% endblock %}
{% endif %}